@page "/TableSessionPage/{Identity}"
@using BlackJackBlazor.Pages
@inherits TableSessionsPage
<h3>TableSessionPage</h3>
<EditForm Model = "@AddPlayersInSessions(Identity)">
   <p>@TakePlayerName()</p>
   <p>@TakePlayerState()</p>
    <p>@TakeSumScore()</p>
    </EditForm>
