@page "/TableSessionPage/{Identity}"
@using BlackJack.Domain.Logic
@using BlackJack.Logic
@using BlackJackBlazor.Pages
@inject IJSRuntime JsRuntime
@inherits TableSessionsPage
<h3>TableSessionPage</h3>
@if (State() != null)
{
    foreach (var player in State())
    {
        <p>@player.Name</p>
        <p>@player.SumPoint</p>
        <p>@player.State</p>

        if (player.Name == Identity)
        {
            @foreach (var card in player.CardsInHands)
            {
                var cardFace = card.ToString();
                if (player.Name == Identity)
                {
                    <img src="/Resources/@(cardFace).png" height="150" />
                }
            }
            if (player.State == PlayerInGameState.IamThinking)
            {
                <button @onclick="()=>TakeCardClick()">Take Card</button>
                <button @onclick="()=>StopTakeClick()">Stop Take Cards</button>
            }
        }
    }

}
